<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="silver">
        <mdb-card-header>Covid safety</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Pilot Projects</h5>
          </mdb-card-title>
          <mdb-card-text>We are pioneering covid safe work spaces for tech teams to work productively in close proximity.</mdb-card-text>
          <a routerLink="/projects" mdbBtn color="black">View our projects</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="silver">
        <mdb-card-header>Customers</mdb-card-header>
        <mdb-card-body class="p-3">
          <!--
          <mdb-card-title>
            <h5 class="mb-3">Tables</h5>
          </mdb-card-title>
          -->
          <mdb-card-text>Pilot customers working with us.</mdb-card-text>
          <a routerLink="/customers" mdbBtn color="black">View customers</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="silver">
        <mdb-card-header>Charts</mdb-card-header>
        <mdb-card-body class="p-3">
          <!--
          <mdb-card-title>
            <h5 class="mb-3">Charts</h5>
          </mdb-card-title>
          -->
          <mdb-card-text>Place holder for charts.</mdb-card-text>
          <a routerLink="/charts" mdbBtn color="black">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="silver">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <!--
          <mdb-card-title>
            <h5 class="mb-3">Profile</h5>
          </mdb-card-title>
          <mdb-card-text>.</mdb-card-text>
            -->
          <a routerLink="/profile" mdbBtn color="black">View your profile</a>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>
