.app-heading {
    font-size: 2.8rem;
    font-weight: 100;
    color:black;
}

  .welcome {
   background-image:url('https://raw.githubusercontent.com/stanleynga/ng_smartcom/4757a9ae1d48cf73554eef23f8f591f4d6a76eec/src/assets/images/bg01.svg');
    background-color:#fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome1 {
    background-image: url("https://cdn.jsdelivr.net/gh/stanleynga/ng_smartcom@master/src/assets/images/BlackHole02.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
    
